[submodule "multiChannelSignalViewer"]
	path = multiChannelSignalViewer
	url = https://github.com/RamadanIbrahem98/multiChannelSignalViewer
[submodule "sound-equalizer"]
	path = sound-equalizer
	url = https://github.com/RamadanIbrahem98/sound-equalizer
[submodule "kiss-ft-and-fft"]
	path = kiss-ft-and-fft
	url = https://github.com/RamadanIbrahem98/kiss-ft-and-fft
[submodule "image-mixer"]
	path = image-mixer
	url = https://github.com/RamadanIbrahem98/image-mixer
[submodule "Shazam-Clone"]
	path = Shazam-Clone
	url = https://github.com/RamadanIbrahem98/Shazam-Clone
